---
import Layout from '../layouts/Layout.astro';
import '@fontsource/climate-crisis';
import GlslCanvasWrapper from '../components/glsl/GlslCanvasWrapper.astro';
---

<Layout title="101">
	<main>
		<div class="article">
			<h1>1.01</h1>
			<p>
				I definetly should prepare something to say.<br>At least about myself... Shouldn't I?
			</p>
			<GlslCanvasWrapper frag="/glsl/test.2.frag.glsl"></GlslCanvasWrapper>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		position: relative;
		z-index: 1;
	}
	main .article {
		min-height: 100vh;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
	h1 {
		position: absolute;
		font-family: 'Montagu Slab';
		font-size: 45vw;
		font-weight: 900;
    	letter-spacing: -1.0rem;
		line-height: 1;
		text-align: center;
		margin: 0;
		-webkit-text-stroke: 1px rgba(130,100,30,0.8);
		-webkit-text-fill-color: transparent;
		mix-blend-mode: hard-light;
		background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(0,0,0,0.1));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 0px 0px 10px rgba(190,170,110,0.4);
		pointer-events: none;
	}
	p {

		text-align: center;
		font-size: .8rem;
    	letter-spacing: .3rem;
		margin-top: 0;
	}
</style>
