---
import GlslCanvas from './GlslCanvas.tsx';

interface Props {
	frag: string;
}

const { frag } = Astro.props;
---
<div class="glsl-wrapper">
	<GlslCanvas client:only="react" frag={frag}></GlslCanvas>
</div>
<style>
	.glsl-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>
